.our-doctors {
    text-align: center;
    background-color: #00c6a9;

    h1 {
        margin-bottom: 50px;
        color: #fff;
        font-size: 40px;
        padding-top: 40px;

        span {
            color: #000;
            margin-right: 10px;
        }
    }
}

.alice-carousel__prev-btn {
    display: none;
}

.alice-carousel__next-btn-wrapper {
    display: none;
}