.footer {
    background-color: rgb(27, 27, 27);
    padding: 0px 150px;
    padding-bottom: 40px;
    margin-top: 100px;

    .top {
        display: flex;

        img {
            background-color: #fff;
            padding: 20px 30px;
        }

        .email-input {
            display: inline-block;
            align-items: center;
            width: 1400px;
            margin-top: 50px;
            margin-left: 80px;

            .input-cont {
                display: flex;
                justify-content: space-between;
                align-items: center;

                input {
                    background-color: transparent;
                    border: none;
                    font-size: 17px;
                }

                Button {
                    color: #00c6a9;
                    padding: 0;
                }

            }

            .linear {
                width: 80%;
                background-color: #fff;
                height: 1px;

                @media (max-width: 1024px) {
                    width: 500px;
                }

                @media (max-width: 768px) {
                    width: 500px;
                }

                @media (max-width: 414px) {
                    width: 200px;
                }
            }

            @media (max-width: 1024px) {
                width: 950px;
            }

            @media (max-width: 768px) {
                width: 500px;
                margin-left: 40px;
            }

            @media (max-width: 414px) {
                margin-left: 20px;
                width: 200px;

                Button {
                    display: none;
                }
            }
        }
    }

    .center {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin: 50px 0px 100px 0px;

        .menu {
            display: none;


            .MenuButton {
                .MenuIcon {
                    color: #fff;
                    font-size: 35px;
                }
            }


            .MenuItems {
                .MenuItem {
                    .PersonIcon1 {}

                    .PersonIcon2 {}

                    .SearchIcon {}
                }
            }


            @media (max-width: 1120px) {
                display: block;
            }
        }

        h2 {
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            .square {
                background-color: #00c6a9;
                width: 24px;
                height: 24px;
                margin-right: 7px;
            }

            @media (max-width: 768px) {

                cursor: pointer;
            }
        }

        ul {
            display: none;

            li {
                font-size: 20px;
                margin-bottom: 15px;
            }

            li:hover {
                color: #00c6a9;
                cursor: pointer;
                transition: 0.5s ease all;
            }
        }

        .info {
            display: flex;
            align-items: center;

            img {
                padding: 10px 10px 10px 0px;
                width: 110px;
                height: 95px;

                p {
                    font-size: 17px;
                }

            }
        }

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
            gap: 50px;
        }

        @media (max-width: 414px) {
            grid-template-columns: 1fr;
        }
    }

    .bottom {
        p {
            color: #fff;
            text-align: center;
        }
    }

    @media (max-width: 1024px) {
        padding: 20px 50px;
    }

    @media (max-width: 414px) {
        padding: 20px 20px;
    }
}